/* Variables */

$selection-background: #b3d4fc;
$base-color: #ccc;
$text-color: #000;
$link-color: #07c;

/* Base styles */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: $text-color;
    font-size: 1em;
    line-height: 1.4;
    font-family: Arial, sans-serif;
}

/* selection color */
::selection {
    background: $selection-background;
    text-shadow: none;
}

::-moz-selection {
    background: $selection-background;
    text-shadow: none;
}

/* placeholder color */
::-webkit-input-placeholder {
    color: $base-color;
}

::-moz-placeholder {
    color: $base-color;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $base-color;
}

/* hide clear button of a text / password input control (IE10+) */
::-ms-clear,
::-ms-reveal {
    display: none;
}

/* style Chrome autocomplete */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: $text-color;
}

/* turn off number input spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* format input fields */
input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-datetime-edit {
    color: transparent;
}

input:focus::-webkit-datetime-edit {
    color: $base-color;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $base-color;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

details,
summary {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    list-style-type: none;
}

summary::-webkit-details-marker {
    display: none;
}

iframe[name=google_conversion_frame] {
    display: none !important;
}

/* Typography */

body  {
    text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
}

p {
    margin: 0;
    word-wrap: break-word;
}

p + p {
    margin-top: 1em;
}

a {
    text-decoration: none;
    color: $link-color;
}

a[disabled] {
    pointer-events: none;
}

blockquote {
    font-style: italic;
}

blockquote:before {
    content: "\201C";
    display: inline-block;
    padding-right: .4em;
}

abbr[title]:hover {
    cursor: help;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

strong {
    font-weight: 700;
}

/* Helper classes */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
    text-align-last: center;
    -moz-text-align-last: center;
}

.font-weight-bold {
    font-weight: 700;
}

.text-uppercase {
    text-transform: uppercase;
}

.no-focus:focus {
    outline-width: 0;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

// hide only visually, but have it available for screenreaders
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

// extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.ios-btn-fix {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.noshadow {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.word-wrap {
    overflow-wrap: break-word;
    /* an alternate name for the overflow-wrap property */
    word-wrap: break-word;
    word-break: break-all;

    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.page-break {
    display: block;
    page-break-before: always;
}

/* Responsive helpers  */

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

/*
YouTube videos embed responsively
use:
<div class="embed-container"><iframe src="http://www.youtube.com/embed/<code>" frameborder="0" allowfullscreen></iframe></div>
*/

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Print styles */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    .no-print, .no-print * {
        display: none !important;
    }
}

/* Components */

@import "mixins";
@import "components";
@import "animations";

/* Custom styles */

